.gallery-card-wrapper {
  display: flex;
  align-items: center;
  width: 800px;
  padding:0 5rem;
  margin-top: 10rem;
  img{
    height: auto;
    width: 100%;
  }

}

.gallery-wrapper {

  margin-top: 7rem;
  max-height: 80vh;

  .gallery-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;

  }

  .gallery{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 768px) {
  .gallery-card-wrapper{
    max-width: 80vw;
  }
}