$primary-color: #f9a826;
$secondary-color: #fff;
$text-color: #000;
$border-color: #ccc;
$font-size-large: 1.5rem;
$font-size-medium: 1.125rem;
$font-size-small: 0.875rem;

.contact-container {
  margin: 25vh 10vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  color: $secondary-color;
  padding: 2rem;
  gap: 2rem;
  font-family: 'Courier New', Courier, monospace;

  .contact-info,
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title{
      font-size: 5rem;
    }

  }

  .contact-info {
    margin-right: 3rem;
    h2 {
      font-size: $font-size-medium;
      color: $secondary-color;
    }

    h1 {
      font-size: $font-size-large;
      color: $primary-color;
    }

    p {
      font-size: $font-size-small;
      color: $secondary-color;
      margin-bottom: 2rem;
    }

    .contact-details {
      .contact-detail {
        display: flex;
        align-items: center;
        font-size: $font-size-medium;
        margin-bottom: 1rem;

        span {
          margin-right: 0.5rem;
        }

        a,
        address {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }

  .contact-form {
    form {
      border: solid 1px white;
      border-radius: 10px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label {
            --border-height: 1px;
            --border-before-color: rgba(221, 221, 221, 0.39);
            --border-after-color: #f9a826;
            --input-hovered-color: #f9a82608;
            position: relative;
        display: flex;
        flex-direction: column;
        font-size: $font-size-medium;
        color: $secondary-color;

        input,
        textarea {
          color: #fff;
          font-size: 0.9rem;
          background-color: transparent;
          width: 100%;
          box-sizing: border-box;
          padding-inline: 0.5em;
          padding-block: 0.7em;
          border: none;
          border-bottom: var(--border-height) solid var(--border-before-color);

          &:hover {
            background: var(--input-hovered-color);
           }
          &:focus {
            outline: none;
           }
          &:focus ~ .input-border {
            width: 100%;
           }
         }
         .input-border {
          position: absolute;
          background: var(--border-after-color);
          width: 0%;
          height: 2px;
          bottom: 0;
          left: 0;
          transition: 0.3s;
         }

        textarea {
          resize: vertical;
          height: 9rem;
        }
      }

      button {
        align-self: center;
        padding: 0.75rem 1.5rem;
        font-size: $font-size-medium;
        color: $secondary-color;
        background-color: $primary-color;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 4rem;
        width: fit-content;


        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}

.social-media-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .whatsapp-button {
    border: #25D366 solid 1px; // WhatsApp green
  }

  .instagram-button {
    border: #E1306C solid 1px; // Instagram gradient color
  }

  .linkedin-button {
    border: #0077B5 solid 1px; // LinkedIn blue
  }
}

@media (max-width: 1200px) {
  .contact-container{
    flex-direction: column;
    margin-top: 10rem;

    .contact-info {
      margin-right: 0;
    }
  }
}

@media (max-width: 880px) {
  .contact-container {
    .contact-info {
      .title {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 576px){
  .contact-container{
    .contact-info{
      .title {
        font-size: 3rem;
      }
    }
  }
  .social-media-buttons{
    justify-content: center;
    min-width: 100%;
    text-align: center;
    a{
      width: 100%;
    }
  }
}

