.gallery-card-wrapper {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100vh;
    position: sticky;
    top: 0;
    padding:0 5rem;
    margin-top: 10rem;
  
    img{
      height: auto;
      width: 100%;
    }
  
  }
  
  .gallery-wrapper {
    
    .gallery-title {
      position: absolute;
      writing-mode:vertical-lr;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      filter: invert(0.2);
      mix-blend-mode:difference;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 10rem;
      z-index: 10;
    }
  
    .gallery{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  @media (max-width: 768px) {
    .gallery-card-wrapper{
      max-width: 750px;
    }
    .gallery-wrapper {
      .gallery-title {
        font-size: 5rem;
      }
    }
  }
  
  @media (max-width: 576px) {
    .gallery-card-wrapper{
      max-width: 500px;
    }
  }