
.wrapper{
  margin-top: 10rem;

  .title {
    display: flex;
    flex-direction: column;

    .heading {
      text-align: center;
      color: #f8f8f8;
      font-size: 5rem;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    
    .subHeading {
      display: flex;
      justify-content: center;
      color: #b0b0b0;
      font-size: 2.5rem;
      font-weight: 400;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      margin-bottom: 4rem;
    }
  }

  .features-container {
    
    
    .row {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5rem;

      .element {
        margin-top: 3rem;
        padding: 3rem;
        height: 850px;
        min-width: 450px;
        background-color: #000000;
        transition: transform 0.3s, box-shadow 0.3s;

        
      
    
        .imageHeading {
          margin-bottom: 2rem;
          color: #f8f8f8;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        
        img {
          height: 100%;
          width: 100%;

          &:hover {
            scale: 1.05;
          }
        }
      }

      .square {
        margin-top: 3rem;
        padding: 3rem;
        height: auto;
        min-width: 450px;
        background-color: #000000;
        transition: transform 0.3s, box-shadow 0.3s;
      
    
        .imageHeading {
          margin-bottom: 2rem;
          color: #f8f8f8;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        
        img {
          height: 100%;
          width: 100%;

          &:hover {
            scale: 1.05;
          }
        }
      }
    }


  }
}







/* Medium devices (tablets, 768px and up) */
